body {
    background-color:beige
}

#red {
    height: 100px;
    width: 100px;
}

#orange {
    height: 100px;
    width: 100px;
}

#yellow {
    height: 100px;
    width: 100px;
}

#green {
    height: 100px;
    width: 100px;
}